* {
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.container-full {
    margin: 0;
}

.align-items-center {
    align-items: center;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

section {
    display: flex;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width:768px) {
    .row {
        flex-direction: row;
    }
    section {
        max-width: 90%;
    }
}


/* GLOBAL GRID */

.col-lg-1 {
    width: 8.333333333333333%;
}

.col-lg-2 {
    width: 16.66666666666667%;
}

.col-lg-3 {
    width: 25%;
}

.col-lg-4 {
    width: 33.33333333333333%;
}

.col-lg-5 {
    width: 41.66666666666667%;
}

.col-lg-6 {
    width: 50%;
}

.col-lg-7 {
    width: 58.33333333333333%;
}

.col-lg-8 {
    width: 66.66666666666666%;
}

.col-lg-9 {
    width: 75%;
}

.col-lg-10 {
    width: 83.33333333333333%;
}

.col-lg-11 {
    width: 91.66666666666666%;
}

.col-lg-12 {
    width: 100%;
}


/* END:GLOBAL GRID */


/* ---------------MOBILE--------------- */

@media screen and (min-width:300px) {
    .col-1 {
        width: 8.333333333333333%;
    }
    .col-2 {
        width: 16.66666666666667%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33333333333333%;
    }
    .col-5 {
        width: 41.66666666666667%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33333333333333%;
    }
    .col-8 {
        width: 66.66666666666666%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33333333333333%;
    }
    .col-11 {
        width: 91.66666666666666%;
    }
    .col-12 {
        width: 100%;
    }
}


/* --------------TABLETS---------------- */

@media screen and (min-width:768px) and (max-width:1024px) {
    .col-md-1 {
        width: 8.333333333333333%;
    }
    .col-md-2 {
        width: 16.66666666666667%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33333333333333%;
    }
    .col-md-5 {
        width: 41.66666666666667%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33333333333333%;
    }
    .col-md-8 {
        width: 66.66666666666666%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33333333333333%;
    }
    .col-md-11 {
        width: 91.66666666666666%;
    }
    .col-md-12 {
        width: 100%;
    }
}


/* --------------Desktop---------------- */

@media screen and (min-width:1025px) {
    .col-lg-1 {
        width: 8.333333333333333%;
    }
    .col-lg-2 {
        width: 16.66666666666667%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33333333333333%;
    }
    .col-lg-5 {
        width: 41.66666666666667%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33333333333333%;
    }
    .col-lg-8 {
        width: 66.66666666666666%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33333333333333%;
    }
    .col-lg-11 {
        width: 91.66666666666666%;
    }
    .col-lg-12 {
        width: 100%;
    }
}